/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-custom-blocks-instructors {
	max-width: 300px;

	div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
	}

	div figure {
		height: 300px;
		max-width: 300px;
		border-radius: 50%;
		overflow: hidden;
		border: solid 1px #ffb22c;

		img {
			margin-top: -50px;
			margin-left: -50px;
		}
	}

	div h4,
	p {
		color: var(--wp--preset--color--accent);
	}
}
